vendor/
node_modules/
.env
.idea/
bower_components/
package-lock.json
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/cache/*
resources/js
worker.log
_ide_helper.php
storage/reports/
.phpstorm.meta.php
Envoy*
ide-helper.php
